.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 300px;
}
.main-panel{
  display: flex;
  margin: 0% 7% 0% 0%;
  overflow: hidden;
}
.right-side-panel{
  width: 100%;
  overflow: auto;
  scrollbar-width: thin; 
  scrollbar-color: #dad7d7 #f1f1f1;
  scroll-behavior: smooth;
}

.left-side-panel{
  background-color: #f0efef;
  padding: 5% 3% 5% 3%;
  text-align: center;
  width: 21%;
  overflow: auto;
  scrollbar-width: thin; 
  scrollbar-color: #dad7d7 #f1f1f1;
  scroll-behavior: smooth;
}

.navigation {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.navigation li {
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.navigation li:hover {
  background-color: #ffffff;
  color: #000;

}

.navigation .active {
  background-color: #00aae2;
  color: #000;
}
.div-spacing{
  padding: 6% 5% 0% 0%;
}